.postCard {
    background-color: cornsilk;
}

.cardBody {
    overflow: hidden;
    mask-image: linear-gradient(180deg, #000 60%, transparent);
    padding-bottom: 50px;

}

.cardText {
    white-space: pre-line;
}